.files {
    background: transparent;
    width: 100%;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    color: white;
}

.files .file {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.files .file:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.files .file-remove {
    float: right;
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}
